
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>DWI</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/assets/css/styles.css" rel="stylesheet" />
       
    </head>
    <body>
        <div class="container">
        <form  method="post" action='/update/<%= product._id %>' class="form-signin">
            <div class="form-group">
                <input type="hidden" class="form-control" value='<%= product._rev %>' name='rev' >
              <label for="title">Type</label>
              <input type="text" class="form-control" name="type" value='<%= product.type %>' required>
              <label for="stock">Title</label>
              <input type="text" class="form-control" name="title" value='<%= product.title %>' required>
              <label for="title">Condition</label>
              <input type="text" class="form-control" name="condition" value='<%= product.condition %>' required>
              <label for="stock">Stock</label>
              <input type="number" class="form-control" name="stock" value='<%= product.stock %>' required step=".01">
              <label for="stock">Category</label>
              <input type="text" class="form-control" name="category" value='<%= product.category %>' required>
              <label for="stock">Price</label>
              <input type="number" class="form-control" name="price" value='<%= product.price %>' required step=".01">
              <label for="title">Year</label>
              <input type="text" class="form-control" name="year" value='<%= product.year %>' required>
              <label for="stock">Average</label>
              <input type="number" class="form-control" name="average" value='<%= product.reviews.average %>' required step=".01">
              <label for="stock">Count</label>
              <input type="number" class="form-control" name="count" value='<%= product.reviews.count %>' required step=".01">
              <label for="stock">Description</label>
              <input type="text" class="form-control" name="description" value='<%= product.description %>' required>
              
              <button type="submit" class="btn btn-primary mt-2">Update Product</button>
            </div>
        </form>
        </div>
    </div>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="/assets/js/scripts.js"></script>
    </body>
</html>
